$default-space: 25px;

// Mobile devices
@media only screen and (max-width: 550px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "the-logo"
      "search-box"
      "source-lang"
      "switch-lang-btn"
      "dest-lang"
      "search-btn"
      "movie-cards";
  }
  
  .theLogo {
    grid-area: the-logo;
  }
  
  .searchBox {
    grid-area: search-box;
    margin-top: 30px;
    width: 100%;
  }

  .searchTextField {
    width: 100%;
  }
  
  .sourceLang {
    grid-area: source-lang;
    margin-top: 10px;
  }
  
  .switchLangBtn {
    grid-area: switch-lang-btn;
    margin-top: 2px;
    text-align: center;
    transform: rotate(90deg);
  }
  
  .destLang {
    grid-area: dest-lang;
    margin-top: 2px;
  }
  
  .searchBtn {
    grid-area: search-btn;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .movieOverview {
    display: none;
  }
  
  .cardActions {
    margin-top: calc(2 * 0.25rem);
    // margin-bottom: calc(-5 * 0.25rem);
    padding-left: 0;
    margin-left: calc(-1 * 0.25rem);
  }
}

// Desktop devices
@media only screen and (min-width: 551px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-template-areas:
      "the-logo the-logo the-logo"
      "search-box search-box search-box"
      "source-lang switch-lang-btn dest-lang"
      "search-btn search-btn search-btn"
      "movie-cards movie-cards movie-cards";
    grid-gap: 0.2rem;
    text-align: center;
    padding: 0 30vw 0 30vw;
  }
  
  .theLogo {
    grid-area: the-logo;
  }
  
  .searchBox {
    grid-area: search-box;
    margin-top: calc(2 * $default-space);
    margin-bottom: $default-space;
  }

  .searchTextField {
    width: 100%;
  }
  
  .sourceLang {
    grid-area: source-lang;
    width: 100%;
    text-align: left;
  }
  
  .switchLangBtn {
    grid-area: switch-lang-btn;
    align-self: center;
  }
  
  .destLang {
    grid-area: dest-lang;
    width: 100%;
    text-align: left;
  }
  
  .searchBtn {
    grid-area: search-btn;
    margin-top: calc(2 * $default-space);
  }

  .movieOverview {
    display: block;
  }

  .cardActions {
    margin-top: calc(2 * 0.25rem);
    margin-bottom: calc(-5 * 0.25rem);
    padding-left: 0;
    margin-left: calc(-1 * 0.25rem);
  }
}

// All devices
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: $default-space $default-space 0 $default-space;
}

.description {
  text-align: center;
}

.clapperboardImg {
  display: flex;
  justify-items: center;
}

.title {
  margin: 10px 0 0 0;
  line-height: 1.15;
  font-size: 32px;
  font-family: "Oswald", "Helvetica", "Roboto";
  text-align: center;
  text-transform: uppercase;
}

.movieCards {
  grid-area: movie-cards;
  text-align: left;
  margin-top: $default-space;
  margin-bottom: $default-space;
}

.footer {
  position: relative;
  bottom: 10px;
  margin-top: auto;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}
